@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 375px;
}

/* Color palette */
:root {
  --color-white: hsl(0, 0%, 98%);
  --color-gray: hsl(0, 0%, 41%);
  --color-black: hsl(0, 0%, 8%);
}

/* Typography */
body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
}
