@import url(/styles/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 400px;
  color: var(--color-gray);
}

/* Color palette */
:root {
  --color-white: hsl(0, 0%, 98%);
  --color-gray: hsl(0, 0%, 41%);
  --color-black: hsl(0, 0%, 8%);
}

/* Typography */
body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
}

h1 {
  color: var(--color-black);
  margin: 1.5rem 0;
}

p {
  font-size: 1.6rem;
  line-height: 2.6ch;
  margin: 0 0 2.5rem;
  padding: 0 1.1rem;
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: 6rem;
  }

  p {
    padding: 0;
    max-width: 461px;
  }
}

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.open-menu {
  width: 35px;
}

.close-menu {
  position: fixed;
  display: none;
  width: 28px;
  z-index: 5245;
  top: 2rem;
  right: 1.8rem;
}

.nav-section {
  display: none;
}

.nav__links {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
  gap: 2.5rem;
}

.nav__links li {
  list-style: none;
  cursor: pointer;
}

.nested-links span {
  position: relative;
}

.nested-links span::after {
  position: absolute;
  content: url(/images/icon-arrow-down.svg);
  right: -2.5rem;
  top: -2px;
}

.nested-links.show span::after {
  content: url(/images/icon-arrow-up.svg);
}

.pop-up-menu {
  display: none;
  padding: 0;
}

.pop-up-menu li {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  white-space: nowrap;
}

.pop-up-menu img {
  width: 20px;
}

.show-menu .open-menu {
  display: none;
}

.show-menu .close-menu {
  display: block;
}

.show-menu .nav-section {
  position: fixed;
  display: block;
  background-color: var(--color-white);
  inset: 0;
  left: auto;
  width: 65%;
  max-width: 350px;
  padding-top: 6rem;
}

.show-menu .overlay {
  position: fixed;
  content: "";
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

.show .pop-up-menu {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-left: 2.5rem;
  gap: 2rem;
}

/* Buttons section */
.button {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  cursor: pointer;

  color: var(--color-gray);
}

.button--border {
  padding: 1.2rem 2rem;
  border: 1px solid var(--color-gray);
}

.button--black {
  color: var(--color-white);
  background-color: var(--color-black);
}

.nav__button {
  display: flex;
  flex-direction: column;
}

.nav__button .button {
  margin: 0 3rem;
  width: auto;
}

@media screen and (min-width: 550px) {
  header {
    justify-content: start;
    align-items: center;
    gap: 6.5rem;
  }

  .menu__button,
  .show-menu .overlay {
    display: none;
  }

  .nav-section,
  .show-menu .nav-section {
    position: static;
    display: flex;
    background-color: transparent;
    padding: 0;
    width: auto;
  }

  .nav__links,
  .nav__button {
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .nav__button {
    margin-left: auto;
  }

  .nav__links {
    gap: 6rem;
    justify-content: space-between;
  }

  .nav__button .button {
    margin: 0;
  }

  .nested-links.show {
    position: relative;
  }

  .show .pop-up-menu {
    position: absolute;
    padding: 2.5rem;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0px 9px 42px -6px rgb(0 0 0 / 50%);
    margin: 2rem 0;
    right: -5rem;
  }
}

/* main content */
main {
  text-align: center;
}

.hero-image {
  margin-bottom: 4rem;
}

.hero-image img {
  width: clamp(400px, 100%, 600px);
}

.clients {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0 9rem;
  padding: 0 1.5rem;
}

.clients img {
  width: 7rem;
  height: 1.8rem;
}

@media screen and (min-width: 550px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin: 0 10rem;
    gap: 5rem;
    padding: 0 2.5rem;
  }

  .hero-image {
    order: 2;
    margin: auto 0;
  }

  .hero-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    height: auto;
  }

  .clients {
    justify-content: start;
  }
}
